.MuiContainer-root.SidePanelLogo{
    background-image: url(../../../assets/dome1.gif);
    background-size: 380px;
    background-repeat: no-repeat;
    background-position: center;
    height: 370px;
}

.MuiContainer-root.SidePanelAccordionContainer{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    margin-top: 50px;
    height: 100%;

}

.MuiContainer-root.DarkModeContainer{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0px;
}
