.MuiContainer-root.ListItemContainer{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-radius: 9px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.MuiContainer-root.ItemAndTitleContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin-left: 10px;
}

.MuiContainer-root.ItemAndTitleContainer .CounterTitle{
    display: none;
}

.MuiTypography-root.ListItemTitle{
    text-wrap:balance;
    -webkit-line-clamp: 2; /*Cantidad de líneas limitada a 2*/
    display: -webkit-inline-box;
    overflow: hidden;
    font-size: 15px;
    line-height: 16px;
    -webkit-box-orient: vertical;
}

.MuiContainer-root.TitleAndCounterContainer{
    width: 100%;
    padding-left: 10px;
    margin: 0px;
    margin-left: 10px;
    padding-right: 0px;
}

.MuiContainer-root.IconButtonContainer{
    width: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
