.MuiContainer-root.ExternalLoginLayoutContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px;
    height: 100vh;
    max-width: none;
    justify-content: center;
    background-image: url(../../assets/fondoConejo.gif);
    background-repeat: no-repeat;
    background-size: initial;
    background-position-x: center;
    background-color: #eb717f;
}
