/* Toma algunas cosas, y otras no... el formato quedó,
pero es verdad que fue más casualidad que otra cosa.
El Form, por ejemplo, tiene style en el código. */

.Form{
    width: 50%;
    background-color: lightgray;
}

.Select{
    margin-bottom: 0px;
    background-color: lightgray;
}

.MuiMenuItem-root.MuiButtonBase-root.Item{
    width: 100%;
}