/*TextForm.tsx, and VideoForm.tsx have this in-code modifyed*/
.MuiTypography-root.ViewTitle{
    margin-bottom: 30px;
    font-weight: bold;
    align-self: flex-start;
}

.MuiTypography-root.ViewSubTitle{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1rem;
}

.MuiTypography-root.ViewInfo{
    margin-bottom: 20px;
    font-style: italic;
}

.MuiContainer-root.AlertsContainerViews{
    height: 60px;
    padding: 0px;
    min-width: none;
    margin: 5px 0;
    width: 100%;
}

.MuiContainer-root.InputsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
}

.MuiContainer-root.FormFlexPostal{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 400px;
    padding: 0px;
}

.MuiContainer-root.RightContent{
    background-position: center;
    background-size: cover;
    min-width: 570px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-repeat: no-repeat;
    border-left: 1px dotted grey;
}

.MuiContainer-root.HelpImage{
    background-image: url(/src/assets/Help.gif);
}

.MuiBox-root.FormBoxView{
    display: flex;
    flex-direction: column;
    min-width: 510px;
    padding: 20px;
    align-items: flex-start;
}

.LeftContent {
    min-width: 510px;
    padding: 20px;
    align-items: flex-start;
}

.MuiFormControl-root.FormInputsViews{
    margin-bottom: 20px;
}

.MuiFormControl-root.CommentsTitleInputsViews{
    width: 80%;
    margin-bottom: 20px;
    background-color: lightgray;
}

.MuiPaper-root.ViewWrapper{
    margin: 80px;
    border-radius: 20px;
    display: flex;
}


.MuiButton-root.CloseButton{
    margin: 0px;
    height: 20px;
    width: 200px;
    border-radius: 20px;
}

.MuiButton-root.SendButton{
    margin: 0px;
    height: 20px;
    width: 200px;
    border-radius: 20px;
}

.MuiButton-root.DeleteButton{
    margin: 0px;
    height: 20px;
    width: 200px;
    border-radius: 20px;
}

.MuiContainer-root.CloseButtonContainer{
    margin: 0px;
    height: 5%;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}



.ButtonContainerWarnings{
    position: relative;
    top: -60px;
    left: 50%;
}

.MuiContainer-root.SwitchsContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.MuiButton-root.GenerateSummaryButton{
    margin: 10px;
    border-radius: 1.3rem;
}

.MuiButton-root.ClearSummaryButton{
    margin: 10px;
}

.MuiContainer-root.FormButtonsContainer{
    display: flex;
    margin-top: 0.75rem;
    padding-top: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0;
    border-top: 1px dotted grey;
}


.MuiFormControl-root.MuiTextField-root.MultiLineInput{
    margin-bottom: 10px;
}

.ProgressLoadingBox{
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MuiContainer-root.ContainerForPDFViewr{
    max-height: 95%;
    height: 100%;
    min-width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    border-top: 1px dotted grey;
}

.ContainerForPDFViewrHeader{
    max-height: 90%;
}



.MuiContainer-root.MuiContainer-maxWidthLg.ContainerForPDFViewrHeader.MuiContainer-root{
    max-height: 10%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    max-width: none;
}

.MuiContainer-root.embededPDFViewrLoader{
    height: 90%;
}

.MuiContainer-root.containerForPDFViewrEmbeded{
    height: 90%;
    max-width: none;
    padding-right: 50px;
}

.embededPDFViewr{
    width: 100%; 
    height: 100%;
}

.MuiContainer-root.HeaderItemsConatiner{
    width: max-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    max-width: none;
}

.MuiTypography-root.SummaryTitle{
    font-weight: bolder;
    max-width: max-content;
    -webkit-line-clamp: 1;
    display: -webkit-inline-box;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
    -webkit-box-orient: vertical;
    padding-left: 50px;
    padding-right: 50px;
}



.MuiAvatar-root.PDFviewrHeadAvatar{
    width: 60px;
    height:60px;
    margin-right: 15px;

}
