.MuiContainer-root.ExternalContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.MuiContainer-root.SidePanelContainer{
    background-color: lightgray;
    max-width: 24%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.ContainerGrid{
    background-color: gray;
    max-width: 76%;
    height: 100vh;

}

.HeaderGrid{
    background-color: lightseagreen;
    height: 6vh;
    align-content: center;
}


.CentralPanel{
    background-color: lightblue;
    max-width:inherit;
    height: 88vh; 
    padding: 0px;

}

.MuiButton-root.CloseButton{
    margin-top: 50px;

}

.FooterGrid{
    background-color: lightseagreen;
    height: 6vh;
    align-content: center;
}