.MuiContainer-root.ExternalLoginContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    min-width: 500px;
    bottom: 12%;
    width: 960px;
    height: 550px;
    background-color: rgb(241 235 237);
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    /*clip-path: path('M 0 110 Q 144 -46, 360 45 Q 490 112, 672 45 Q 816 -12, 960 85 L 960 600 L 0 600 Z');*/
}

.MuiBox-root.FormBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    margin-top: 30px;
    margin-bottom: 60px;
    justify-content: flex-end;
}

.MuiFormControl-root.FormInputs{
    width: 70%;
    margin-top: 30px;
    background-color: lightgray;
}

.MuiContainer-root.FormButtonContainer{
    width: 70%;
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    padding: 0px;
}

.MuiContainer-root.bottomOptionsContainer{
    margin-bottom: 20px;
    height: 400px;
    align-content: center;
    border-left: 1px solid #eb717f;
}

.MuiContainer-root.AlertsContainer{
    height: 60px;
    padding: 0px;
    min-width: none;
    margin: 10px;
}
