.MuiContainer-root.ExternalLoginContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    background-color: rgba(211, 211, 211, 0.90);
    border-radius: 30px;
}

.MuiBox-root.FormBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    margin-top: 30px;
    margin-bottom: 30px;
}

.MuiFormControl-root.FormInputs{
    width: 70%;
    margin-top: 30px;
    background-color: lightgray;
}

.MuiContainer-root.FormButtonContainer{
    width: 70%;
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    padding: 0px;
}

.MuiContainer-root.bottomOptionsContainer{
    margin-bottom: 20px;
}

.MuiContainer-root.AlertsContainer{
    height: 60px;
    padding: 0px;
    min-width: none;
    margin: 10px;
}